@font-face {
    font-family: RobotoRegular;
    src: url('./fonts/Roboto-Regular.ttf');
}
h1{
    font-family: RobotoRegular, "sans-serif";
    font-weight: 400;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header_container_address {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.header_state {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.header_address {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.header_workday {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.mail>a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}