@font-face {
    font-family: RobotoRegular;
    src: url('./fonts/Roboto-Regular.ttf');
}
h1{
    font-family: RobotoRegular, "sans-serif";
    font-weight: 400;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__container_address {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.header__state {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.header__address {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.header__workday {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.mail>a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}
.header__background {
    position: absolute;
    width: 1920px;
    height: 867px;
    left: 10px;
    top: 165px;

}
.header__logo {
    position: absolute;
    width: 140px;
    height: 29px;
    left: 372px;
    top: 108px;


}
.photo__retail {
    left: 10.71%;
    right: 0%;
    top: 24.13%;
    bottom: 24.15%;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 111.69%;

    letter-spacing: 0.045em;

    color: #FFFFFF;

}
.about {
    position: absolute;
    width: 73.08px;
    height: 17px;
    left: 952px;
    top: 117.94px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #A6A6A6;

}
.our__advantages {
    position: absolute;
    width: 225px;
    height: 17px;
    left: 1222px;
    top: 118px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #A6A6A6;

}
.service {
    position: absolute;
    width: 73.08px;
    height: 17px;
    left: 1087px;
    top: 118px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #A6A6A6;
}
.info {
    position: absolute;
    width: 819.85px;
    height: 245.65px;
    left: 370.41px;
    top: 279.15px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 55px;
    text-transform: uppercase;

    color: #F2D4B0;

}